<!DOCTYPE html>
<html>
<head>
	<title>Life Events</title>
	<link rel="stylesheet" type="text/css" href="/../application.css">
</head>
<body>

<div class="container">
	

	<form action="/schools" method="post">
		Name:<br>
		<input type="text"  id="name" name="school[name]"><br>
		Location:<br>
		<input type="text"  id="location" name="school[location]"><br>
		Graduation Date:<br>
		<input type="text"  id="graduation_date" name="school[graduation_date]">
		<br>
		<input type="submit" value="add!">
	</form>
	<br>
</div>
</body>
</html>