<!DOCTYPE html>
<html>
<head>
	<title>Add a School</title>
	
</head>
<body>
<h1>Add a School</h1>
	

	<form action="/schools" method="post">
		Name:<br>
		<input type="text"  id="name" name="school[name]"><br>
		Location:<br>
		<input type="text"  id="location" name="school[location]"><br>
		Graduation Date:<br>
		<input type="text"  id="graduation_date" name="school[graduation_date]">
		<br>
		<input type="submit" value="add!">
	</form>
	<br>

</body>
</html>