<html>
<ul>
<% @search_results.each do |school| %>
	<li>
		<%= school.name %><br>
		<%= school.location %><br>
		<%= school.graduation_date %><br>
		<br>
		<br>
		
	</li>
<% end %>
</ul>

Hello
</html>