<!DOCTYPE html>
<html>
<head>
	<title>Life Events</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>
<body>

<div class="container">
	<h1>Life Events</h1>

	<table class="table table-striped">
		<th>Description</th>
		<th>Location</th>
		<th>Date</th>
		<% @life_events.each do |life_event| %>
			<tr>
				<td><%= life_event.description %></td>
				<td><%= life_event.location %></td>
				<td><%= life_event.date.strftime("%b %d, %Y") %></td>
			</tr>
		<% end %>
	</table>

	<a href="/life_events/new"><button id="add">add life_event</button></a>

	<form action="/life_events/search" method="post" id="search">
		<input type="text" id="search" name="search">
		<input type="submit" >
	</form>

	<a href="../main">back</a>
</div>
</body>
</html>
