<!DOCTYPE html>
<html>
<head>
	<title>life_events</title>
	
</head>
<body>


<h1>life_events</h1>

<ul>
<% @life_events.each do |life_event| %>
<li><%= life_event.description %>&nbsp;<%= life_event.location %>&nbsp;<%= life_event.date %>&nbsp;</li>
<% end %>
</ul>

<a href="/life_events/new"><button id="add">add life_event</button></a>

<form action="/life_events/search" method="post" id="search">
	<input type="text" id="search" name="search">
	<input type="submit" >
</form>

<a href="../main">back</a>

</body>
</html>
