<!DOCTYPE html>
<html>
<head>
	<title>Add a life_event</title>
	
</head>
<body>
<h1>Add a life_event</h1>
	

	<form action="/life_events" method="post">
		Name:<br>
		<input type="text"  id="description" name="life_event[description]"><br>
		Location:<br>
		<input type="text"  id="location" name="life_event[location]"><br>
		Date:<br>
		<input type="text"  id="date" name="life_event[date]">
		<br>
		<input type="submit" value="add!">
	</form>
	<br>

</body>
</html>