<!DOCTYPE html>
<html>
<head>
	<title>Life Events</title>
	<link rel="stylesheet" type="text/css" href="/../application.css">
</head>
<body>

<div class="container">

<%= @life_event.description %><br>
<%= @life_event.location %><br>
<%= @life_event.date.strftime("%b %d, %Y")%><br>

<form action="/life_events/<%=@life_event.id %>/delete" method="post">
	<input type="hidden" name="_method" value="delete" />
	<br>
	<input type="submit" value="Delete" />
	</form>

	

</div>

</body>
</html>